@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BikBook Booking</h1>
    <p class="lead"></p>
    <p>@Html.ActionLink("Register", "Register", "Home")</p>
    <p> @Html.ActionLink("Login", "Login", "Home") </p>
</div>

