@{
    ViewBag.Title = "Log in";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<form method="post" form asp-action="LogInAction" asp-controller="Home">
    <p>Username: <input type="text" name="usernameLogin"></p>
    <p>Password: <input type="password" name="passwordLogin"></p>
    <button formaction="/Home/LogInAction" asp-action="LogInAction" asp-controller="Home" type="submit">Continue</button>
</form>


